.home{
    display: flex;
    justify-content: center;
}
.mainbox_tag{
    font-size: large;
    color: #737373;
    margin-top: 2rem;
}

.mainbox_head{
    font-size: x-large;
    margin-top: 2rem;
}

.category_box{
    vertical-align: middle;
    align-items: center;
    margin:auto;
    padding-top: 33px;
}

.category_grid{
    margin-top: 1rem;
    position: static;
}
