.proposal{
    display: flex;
    justify-content: center;
}

.proposal_head{
    margin: auto;
}

.proposal_body{
    padding-top: 3rem;
    float: left;
}

.thumbs{
    height: 50px;
    line-height: 50px;
}
.thumbs_text{
    font-size: large;
}

.box_div {
    display: flex;
    justify-content: center;
    opacity: 0.8;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.box_inside{
    height: 50px;
    line-height: 50px;
}

.box_text_category{
    color: white;
    opacity: 1;
    font-weight: 900;
    opacity: 1;
}

.box_text{
    color: white;
    opacity: 1;
}

.proposalStatus{
    padding-top: 3rem;
    color:#737373;
}

.proposalContent{
    font-weight: 500;
    white-space: pre-line;
}

.line{
    margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid #c9c7c7;
}

textarea:focus, input:focus{
    outline: none;
}

.proposal_input_box{
    position:absolute;
    border:solid;
    border-color: #e8e8e8;
    border-width: 0 1px;
    width:100%;
}

.proposal_input_head{
    outline: none;
    border: none;
    font-size: xx-large;
}

.proposal_input_body{
    outline: none;
    border: none;
    font-size: x-large;
}