.transition-group {
    position: relative;
  }

  .toLeft-enter {
    opacity: 0;
    transform: translateX(100%);
  }
  
  .toLeft-enter-active {
    opacity: 1;
    transform: translateX(-50%);
    transition: all 1s ease-in;
  }
  
  .toLeft-exit {
    opacity: 1;
    transform: translateX(-50%);
  }
  
  .toLeft-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease-in;
  }

  .fade-enter {
    opacity: 0;
    transform: translate(0, 25px);
    z-index: 1;
  }
  .fade-enter-active {
    opacity: 1;
    transform: translate(0, 0);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }
  .fade-exit {
    opacity: 1;
    transform: translate(0, 0);
  }
  .fade-exit-active {
    opacity: 0;
    transform: translate(0, 30px);
  
    transition: opacity 250ms ease-out, transform 300ms ease;
  }